



body {
  margin-top: 15%;
  background-color: #e5707e;
  text-align: center;
}
.navidad{
  border-radius: 100%;
  padding: 50px;

}

.feliz{
  padding: 5%;
  text-align: center;
  color: white;
  font-size: 8rem;
  font-family: 'Lobster', cursive;
}

.princesa {
  padding: 10px;
  border-top-left-radius: 50% 50%;
border-top-right-radius: 50% 50%;
border-bottom-right-radius: 50% 50%;
border-bottom-left-radius: 50% 50%;

}

.yoda{
  width: 30%;
  padding: 2%;
}
